body {
	background-color: yellow;
}

h1 {
	font-size: 40px;
	color: red;
	font-weight: 200;
	text-align: center;
	letter-spacing: 3px;
	border-bottom: 1px solid red;
	padding-bottom: 20px;
}

a {
	text-decoration: none;
	font-size: 20px;
	color: black;
}

#link2 {
	display: block;
}